--extra-index-url https://d33sy5i8bnduwe.cloudfront.net/simple/
fastapi
uvicorn[standard]
pymongo[srv]
python-dotenv
bcrypt
PyJWT
reportlab
resend
python-multipart
python-dateutil
httpx
emergentintegrations
stripe
